# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/

# Environment / secrets
*.env
.env.*

# IDE / Editor files
.vscode/
.idea/
*.swp

# Streamlit cache
.streamlit/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite DB backup files
*.db-journal
